version: "3.9"
services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=0
      - PGID=0
      - TZ=Indian/Mauritius
    volumes:
      - ./config:/config
    ports:
      - 9696:9696
    restart: unless-stopped