#   ___ ___ _  _   _  __
#/ __/ __| || | | |/ /___ _  _
#\__ \__ \ __ | | ' </ -_) || |
#|___/___/_||_| |_|\_\___|\_, |
#                         |__/
# This file is managed by Ansible, all changes will be lost.

# Proxmox Hosts
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJQ0La48tvrn1X5AVzYXmOioaW6lPczO1lbYYNK5Sz+p root@orion

# Raif mac -dec2025
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJi9QOy/QVWlFd0+aJ1b4rhrze1C/HPYW0IDAvH5Ic9x raifcoonjah@protonmail.com

# raif cachy
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICpxCS6CsnpyyagYoIAoSPeLdS6vra5xDoodcJ/qFWr3 raif@cachyos

# Ansible Controller
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBB7cZE42abn6h2ZxkSzHom7d3MGSEBgqXQb0/XConob ansible-controller@orion
