#   ___ ___ _  _   _  __
#/ __/ __| || | | |/ /___ _  _
#\__ \__ \ __ | | ' </ -_) || |
#|___/___/_||_| |_|\_\___|\_, |
#                         |__/
# This file is managed using Automation, NEVER edit it manually.

# proxmu1 (Proxmox)
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIH+z5XlN9aIxIYRMyvz8AOrgEeWSpbfC37hcLpgPtdB3 root@proxmu1

# Personal Keys
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMtAfARvm1+vTueOgG7JX3naNE8fNufuMA3Z74Oj8iNg raifcoonjah@proton.me
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIH098/5rb8OTWtomrLM28A2oHP2krw8jamz2K+Y9YmJ2 raifcoonjah@protonmail.com

# Gitlab runner (selfhosted)
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPQaOlutHvdWxpoko4wh+d9vef+Zi9biq0qo1tOmA8oP root@gitlab-runner-2024