#   ___ ___ _  _   _  __
#/ __/ __| || | | |/ /___ _  _
#\__ \__ \ __ | | ' </ -_) || |
#|___/___/_||_| |_|\_\___|\_, |
#                         |__/
# This file is managed by Ansible, all changes will be lost.

# Proxmox Hosts
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIInMkWks9rARDztp5ydTyVJtgXXHD/bdlFkgwhug8Sjk root@graviton
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBkg73855gCaqIGD8kyNK1pb6Bj409wxW45TFOekfV8R root@whonik

# Raif mac
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIO+RtbRjPY/SlPyWj7qqStP3qc5BM4zmN7kBU9Jtn68X raifcoonjah@proton.me
