# SSH Configuration - 2025
# {{ ansible_managed }}
ForwardAgent yes
User {{ ssh_master_user }}

Host orion
        Hostname orion

Host proxy
       Hostname proxy

Host pihole
     Hostname pihole

Host centron-prod
     Hostname centreon-prod

Host syncthing
     Hostname syncthing
