# SSH Configuration - 2025
# {{ ansible_managed }}
ForwardAgent yes
User {{ ssh_master_user }}

Host orion
    HostName 192.168.100.20

Host jellyfin
    HostName 192.168.100.100

Host SUSE-Node01
    HostName 192.168.100.10

Host centreon-prod
    HostName 192.168.100.7

Host technitium-master
    HostName 192.168.100.5

Host docker-node01
    HostName 192.168.100.8

Host docker-node02
    HostName 192.168.100.11