# SSH Configuration - 2025
ForwardAgent yes
User root

Host proxmu1
        Hostname 192.168.100.23
        Port 1922

Host adguard
     Hostname 192.168.100.5

Host gitlab
     Hostname 192.168.100.55

Host kraken-slave
     Hostname 192.168.100.11

Host jellyfin
     Hostname 192.168.100.100

Host gitlab-runner-2025
     Hostname 192.168.100.73
