# Proxmox Keys
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGrzw0ygthyxIbsaTYdqR5eQG4VFjWKKLIJRmODKw34V root@spider
# Personal Keys
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJMsKqKBw/E/I62mJg9IdHBM+v71oDs0R4l5AoyNpzZX raifcoonjah@proton.me

# INFO: Please note that this file is managed by automation. Any new keys added manually will be OVERWRITTEN
