# Proxmox Keys
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGrzw0ygthyxIbsaTYdqR5eQG4VFjWKKLIJRmODKw34V root@spider
# Spider proxy 
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFOJ+jPEIJBi9/9L1rIXlcVC8vevQquCeKyeJseg02Ys root@spider-proxy
# Personal Keys
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJMsKqKBw/E/I62mJg9IdHBM+v71oDs0R4l5AoyNpzZX raifcoonjah@proton.me
# Raif-LAB
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINBnjACgQPoiqtVwPiP7y+qKFklnjhJLCB7uVN+09fhO raif.coonjah@lin-ez # ansible controller

# INFO: Please note that this file is managed by automation. Any new keys added manually will be OVERWRITTEN
