# Proxmox Keys (HOST)
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIH+z5XlN9aIxIYRMyvz8AOrgEeWSpbfC37hcLpgPtdB3 root@proxmu1
# Personal Keys
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIF9b4uq/42aAUAmmysG+4sYhaamlWcRuY/JOir1AVDar rcoonjah@Raifs-MacBook-Air.local

# INFO: Please note that this file is managed by ansible. Any new keys added manually will be OVERWRITTEN.
