# Configuration
ForwardAgent yes

# Hosts
Host spider
    Hostname 192.168.0.22
    User root
    Port 10022
    ForwardAgent yes
Host spider-proxy
     Hostname 192.168.0.92
     User root
Host pihole
     HostName 192.168.0.8
     User root
     Port 10022
Host spider-gn1
        Hostname 192.168.0.35
        User root
Host spider-ansible
     Hostname 192.168.0.75
     User root
     Port 22