# Configuration
ForwardAgent yes
Ciphers aes128-ctr,aes192-ctr,aes256-ctr',arcfour128,arcfour256,arcfour

# Host list ::

Host spider-prxmx
    Hostname 192.168.100.22
    User root
    Port 1922

Host pihole
     HostName 192.168.100.8
     User root