###########################
### {{ ansible_facts['hostname'] }} - CRON ###
### {{ ansible_managed }} ###
###########################

# Automatically update beszel weekly on FRI
0 0 * * * root /opt/beszel-agent/beszel-agent update && /usr/bin/systemctl restart beszel-agent

# [SYSTEM] Monitoring
# DISK Health
0 1 * * FRI root /usr/local/homelab/scripts/disk_health.sh

### Automatic Reboot ###
# Reboot the system at 04:00 on the first day of every month
0 4 1 * * root /usr/sbin/reboot

# PIHOLE VM - Restart At 05:30 on Friday
30 5 * * FRI root /usr/sbin/qm shutdown 19206 && sleep 5 && /usr/sbin/qm start 19206 && sleep 5

# JELLYFIN VM - Restart At 05:30 on DAILY
# This resolve a weird cache problem I wasn't able to fix using a bash script
# update: remove notify due to spam
30 5 * * * root /usr/sbin/qm shutdown 192100 && sleep 5 && /usr/sbin/qm start 192100

# SYNCTHING VM
# Automatically stop and start the VM when not in use 
# to save resources. 
45 19 * * * root /usr/sbin/qm shutdown 19211
45 08 * * * root /usr/sbin/qm start 19211

# END OF FILE 
