###########################
### {{ ansible_facts['hostname'] }} - CRON ###
### {{ ansible_managed }} ###
###########################
# fix smartctl script
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

# Automatically update beszel weekly on FRI
0 0 * * * root /opt/beszel-agent/beszel-agent update && /usr/bin/systemctl restart beszel-agent

# [SYSTEM] Monitoring
# DISK Health
04 5 * * FRI root /usr/local/homelab/scripts/disk_health.sh

### PWRZ ###
# Automatically stop/start/restart specific VMs, similar to AWS

# PIHOLE VM - Restart At 05:30 on Friday
30 5 * * FRI root /usr/sbin/qm shutdown 19206 && sleep 5 && /usr/sbin/qm start 19206 && sleep 5

# JELLYFIN VM - Restart At 05:30 on DAILY
# This resolve a weird cache problem I wasn't able to fix using a bash script
# update: remove notify due to spam
30 5 * * * root /usr/sbin/qm shutdown 192100 && sleep 5 && /usr/sbin/qm start 192100

##### PWRZ - Save Power ######

# SYNCTHING VM
35 20 * * * root /usr/sbin/qm shutdown 19211
30 08 * * * root /usr/sbin/qm start 19211

# END OF FILE
