###########################
### {{ ansible_facts['hostname'] }} ###
### {{ ansible_managed }} ###
###########################

# Automatically compress images inside samba shared
*/2 * * * * root /usr/local/homelab/script/compress-image.sh

# Automatically compress pdf to save space
*/5 * * * * root /usr/local/homelab/script/compress-pdf.sh

# [SAMBA SHARE] Backup
0 4 * * THU root /usr/local/homelab/script/samba-backup.sh
0 4 * * SUN root /usr/local/homelab/script/samba-backup.sh

# [Docker] Automatically update samba
30 4 * * * root cd /opt/stacks/samba && /usr/bin/docker compose pull && /usr/bin/docker compose up -d
