version: "3.9"
services:
  flaresolverr:
    image: flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=info
      - PUID=0
      - PGID=0
      - TZ=Indian/Mauritius
    volumes:
      - ./config:/config
    ports:
      - 8191:8191
    restart: unless-stopped