#!/bin/sh
#   Author: Raif Coonjah <raifcoonjah@proton.me>
#   Date: 2025-03-13
#   Inspired by: OpenSUSE MOTD

# Display system information
echo "---------------------------------------------------"
printf "Welcome to $(hostname)\n"
printf "Kernel: $(uname -r)\n"
printf "Uptime: $(uptime -p)\n"
printf "Load: $(uptime | awk -F'load average:' '{ print $2 }')\n"
printf "Memory: $(free -h | grep Mem | awk '{print $3 "/" $2}')\n"
printf "Swap: $(free -h | grep Swap | awk '{print $3 "/" $2}')\n"
printf "Disk: $(df -h / | grep / | awk '{ print $3 "/" $2 }')\n"
echo "---------------------------------------------------"
