# AUTH Keys
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDfRkPZME3j00QdiF/ud9H0d+FPod5uVnKL5M+QJHV3vmSWLh84PyT+e6Rz6oOiZGyMADZm7nztVq5fpoLtdMljmFCZntqjc5gx/oLbKFAlGPEOHkRshmuQnilY/mUvqyjs6xUFLljeaT1R8YlgzHdZLCDRCbCMCqflqrODLapaGlca8EipQTdpWL1XoX+zKWXEnJ9V602FVCxs9v3KFeMDHAHH34dmL2Wgaee6ugJ9f+ES8u6216SzwGWfNC8DJ2Gijf6p3DClZItyJTiYBhXqEpY/YM4H5IChMgP+DzYGJuVA/FahZcp26mf9WdVP7PVIh126ktPl8E7m0p2Og7fXnRD4ZVl62c1DkYBkv44XZ0V6r4ghCOSaDWa8Y+Lq8izOCDmNoleopOiYOuNE0OsHcIyqhMk2xcNHVdl2WbcHMiUPmOf01kYe+8+92lgQSiEOw1O3Y0DUXR9NLvOB6FD7xeYw5AmRncBOYKm3fKCE70BZfU1uS78s3LIjVzWUTvIXIkgSfZLdAGuBG3HaDpNxrSgZtYVFOOlmz4YhBcZnAXlzqz68qCAR6+YjOZqiRe1CvabJgphV5uX2WS/k6v64TwoYvq669I7cLC16YXp8q7j/mfOyGJEb4llWLyyi6MOS8dMnvPj9k0dqEfvu5XBf76IsL8QOMDbixLsj2a+Krw== raifcoonjah@proton.me
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCd4jecV9t7TWJYqdBpt5k2/zhzzV0snY36JHBn4ln3ZCehea0HYtkS1yUp57kXBT9rK51qU4DhOcgjsIryjaadgapUpqVeduu0bSyKidhixeIDb199VObci5Xeh07vb+CxskX1WGNsfOqfSGNjumFePzS6pccDNJjUHJSiQBS4ZUQhVE7LE+Ii4Zg+tkq2XkTPuqV9rklMjWHTwhGkobfWV5P9XRuhshfy5qR/2/GwaM2LK/m+Dq0Lzn8kLPTYW6t3GXOkOSDcuphs9Cp/pxJYqociyQmxfv2VTizrDW2e/GzXllgWtywVBIbdlfes9cSWa8XNHKp/G7dug/5UJhrB root@spider-prxmx
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICOLBJQ895XseZ3lnVlGBHCQtE1UXj1bRGLV+CFSaQn3 raif@overlord
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQClKhOdsyo+pflILrq/mft5oCo/fEMiSx/1yy0PWVZHiFWLOWVLJ9rOnyz5ui7Nnwmq9+6fCNtv+wQrY5QKbNGS5WHv7A8CkG/hGo/T3d+mW8JU9V/grgpkw4FZaBrpZ3eW4g9UNOuXHvgNvHQZY//RQ0v4xB0xjLYCRuwvIRlHqvz4aIFSSmzdaF4m/47BZePRDvmnFlucJtPBp6M2sGwZxvWlCxaGPWBXstJMmrN4wyzix9J9dDc9kgqK4cZcoSbfMt092KWk0JoaZDVHFPfGiGRE3sSUfXmuLbC6gIRxRFgfDvccpmHvq+Q7SEv4AQ66YHnw75ZSXBPk2O9sp7W9 root@komatoz-prxmx
# Raif-LAB
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINBnjACgQPoiqtVwPiP7y+qKFklnjhJLCB7uVN+09fhO raif.coonjah@lin-ez # ansible controller

# INFO: Please note that this file is managed by automation. Any new keys added manually will be OVERWRITTEN. You have been warned!